@font-face {        /* Agregar fuente*/
    font-family: 'Spotify';
    src: url('../font/Gotham-Spotify-Font/Gotham-Bold.otf');
}
@font-face {        /* Agregar fuente*/
    font-family: 'SpotifyErr';
    src: url('../font/Gotham-Spotify-Font/Gotham-Light.otf');
}
@font-face {        /* Agregar fuente*/
    font-family: 'SpotifySubT';
    src: url('../font/Gotham-Spotify-Font/Gotham-Light.otf');
}
form {
    font-family: 'Spotify';
    font-size: 9.5pt;
    letter-spacing: -0.0em; 
    display: flex;      /* Flexbox para limitar la zona de clic*/
    align-items: center;       /* Alinear al centro*/
    flex-direction: column;     /* Ubica a los siguientes elementos debajo*/
    text-align: left;
}
.Error-msg {
    display: flex;
    align-items: center;
    font-family: 'SpotifyErr';
    letter-spacing: -0.01em;  
    margin-bottom: 0%;
    margin-top: 8px;
}
.error {
    margin: 0%;
    color: rgb(211,18,37);
    font-weight: bold;
}
.icon {
    height: 20px;
    margin-right: 5px;
}
#btn-Ojo {
    font-size: 20pt;
    position: absolute;
    right: 19em;
    top: 20.2em;
    /*transform: translateY(-50%); */
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
}
#btn-Ojo:hover {
    color: black;
}
#telef {
    font-family: 'SpotifyErr';
    margin: 0px;
    padding-top: 8px;
    letter-spacing: -0.02em; 
    font-size: 9.5pt;
    font-weight: 600;
}
.input {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 28px;
}
label {
    padding: 0px 0px 13px 0px;
}
input[type="text"], input[type="password"]{
    height: 30px;
    font-size: 11pt;
    padding: 8px 48px 8px 14px;
    border-radius: 4px;
    border-width: 0.5px;
}
input[name='day'] {
    width: 25px;
}
input[name='year'] {
    width: 50px;
}
select[name="month"] {
    height: 49px;
    font-size: 11pt;
    padding: 8px 48px 8px 14px;
    border-radius: 4px;
    border-width: 0.5px;
    width: 200px;
    color: rgb(95, 83, 83);
}
.subTit-Fec {
    font-family: 'SpotifySubT';
    font-weight: 600;
    letter-spacing: -0.01em;
    margin: 0%;
    padding-bottom: 10px;
}
.subTit {
    font-family: 'SpotifySubT';
    font-weight: 600;
    letter-spacing: -0.01em; 
    margin: 0%;
    margin-top: 10px;
    
}
.cont-fecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.label-gener {
    font-family: 'SpotifySubT';
    font-weight: 600;
    letter-spacing: -0.01em;
    vertical-align: middle;
    padding: 0px 24px 0px 12px;
}
.opciones {
    display: flex;
    flex-wrap: wrap;    /* Hace que se coloquen debajo los elementos que no alcanzan en la misma linea */
    align-items: center;
}
.op-genero {
    display: flex;
    align-items: center;
    height: 30px;
}
.radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #999;
    border-radius: 50%;
    outline: none;
    margin: 0%;
    width: 15px;
    height: 15px;
}

input[type="radio"]:checked {
    border: 4px solid ;
    border-color: rgb(22,155,69); /* Cambiar el color del borde */
    background-color: rgb(255, 255, 255); /* Cambiar el color de fondo */
}
input[type="radio"]:hover {
    border-color: rgb(22,155,69); /* Cambiar el color del borde */
}

.input-Ck {
    text-align: left;
    display: flex;
    align-items: center;
    width: 450px;
    padding-bottom: 24px;
}
#Op2{
    align-items: flex-start;
}
#label-Op1, #label-Op2 {
    font-family: 'SpotifySubT';
    font-weight: 600;
    letter-spacing: -0.01em;
    vertical-align: middle;
    padding: 0px 24px 0px 12px;
}
#label-Op2 {
    width: 380px;

    line-height: 1.7; /* Ajusta el valor según el espaciado deseado */
}
.ck-box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    margin: 0px;
    width: 15px;
    height: 15px;
}
/* Estilo del checkbox seleccionado */
input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: rgb(22,155,69); /* Cambiar el color de fondo al seleccionar */
}
  
/* Estilo del checkbox al pasar el cursor por encima */
input[type="checkbox"]:hover {
    border-color: rgb(22,155,69); /* Cambiar el color del borde al pasar el cursor por encima */
}

#Term-Con, .login {
    font-family: 'SpotifySubT';
    font-weight: 600;
    letter-spacing: -0.01em;
    text-align: center;
    padding-bottom: 0px;
    font-size: 10.5pt;
}
#Term-Con {
    font-size: 7.5pt;
}
.term {
    padding-bottom: 14px;
}
.text-term {
    margin: 0px;
}
.link-term {
    color: rgb(29,185,84);
}
input[type='submit'] {
    background-color: rgb(30,215,96);
    height: 56px;
    width: 181px;
    border: 0px;
    border-radius: 500px;
    font-family: 'Spotify';
    font-size: 13pt;
    margin-bottom: 10px;
    transition: transform 0.05s; /* Tiempo de la transición de la escala */
    cursor: pointer;
}
/*Animacion de los botonos al pasar el cursor*/
input[type='submit']:hover {
    transform: scale(1.05); /* Escala el botón al 102% de su tamaño original */
}
