.App {
  text-align: center;
}
.Register {
  margin: 0px 209px;
}

.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: rgb(167, 165, 165);
  margin-bottom: 22px;
}
.divisor {
  margin: 3px 25px 0px 25px; 
  margin-top: 5px;
  width: 160px; 
}
